@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.grid {
  box-sizing: border-box;
  font-size: 0;
  margin-left: -20px; }

.grid--float {
  letter-spacing: 0; }

.grid--center {
  text-align: center; }
  .grid--center .grid__col {
    text-align: left; }

.grid--center-all {
  text-align: center; }

.grid--reverse {
  direction: rtl; }
  .grid--reverse .grid__col {
    direction: ltr; }

.grid--spaced .grid__col {
  margin-bottom: 20px; }

.grid--spaced.grid--tight .grid__col {
  margin-bottom: 10px; }

.grid--align-mid .grid__col {
  vertical-align: middle; }

.grid--stagger-align .grid__col:nth-of-type(1n) {
  text-align: right; }

.grid--stagger-align .grid__col:nth-of-type(2n) {
  text-align: left; }

.grid--tight {
  margin-left: -1em; }
  .grid--tight .grid__col {
    padding-left: 1em; }

.grid--gutterless {
  margin-left: 0; }
  .grid--gutterless .grid__col {
    padding-left: 0; }

.grid--pixelgutter {
  margin-left: 1px; }
  .grid--pixelgutter .grid__col {
    padding-left: 1px;
    margin-bottom: 1px; }

.grid--flex {
  flex-wrap: wrap;
  display: flex; }
  .grid--flex.grid--center {
    justify-content: center; }

.grid__col {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
  font-size: initial;
  padding-left: 20px; }
  @media only screen and (min-width: 300px) {
    .grid__col.xs-1 {
      width: 8.33333%;
      width: calc(100% / 12); }
    .grid__col.xs-push-1 {
      position: relative;
      left: 8.33333%; }
    .grid__col.xs-2 {
      width: 16.66667%;
      width: calc(100% / 6); }
    .grid__col.xs-push-2 {
      position: relative;
      left: 16.66667%; }
    .grid__col.xs-3 {
      width: 25%;
      width: calc(100% / 4); }
    .grid__col.xs-push-3 {
      position: relative;
      left: 25%; }
    .grid__col.xs-4 {
      width: 33.33333%;
      width: calc(100% / 3); }
    .grid__col.xs-push-4 {
      position: relative;
      left: 33.33333%; }
    .grid__col.xs-5 {
      width: 41.66667%;
      width: calc(100% / 2.4); }
    .grid__col.xs-push-5 {
      position: relative;
      left: 41.66667%; }
    .grid__col.xs-6 {
      width: 50%;
      width: calc(100% / 2); }
    .grid__col.xs-push-6 {
      position: relative;
      left: 50%; }
    .grid__col.xs-7 {
      width: 58.33333%;
      width: calc(100% / 1.71429); }
    .grid__col.xs-push-7 {
      position: relative;
      left: 58.33333%; }
    .grid__col.xs-8 {
      width: 66.66667%;
      width: calc(100% / 1.5); }
    .grid__col.xs-push-8 {
      position: relative;
      left: 66.66667%; }
    .grid__col.xs-9 {
      width: 75%;
      width: calc(100% / 1.33333); }
    .grid__col.xs-push-9 {
      position: relative;
      left: 75%; }
    .grid__col.xs-10 {
      width: 83.33333%;
      width: calc(100% / 1.2); }
    .grid__col.xs-push-10 {
      position: relative;
      left: 83.33333%; }
    .grid__col.xs-11 {
      width: 91.66667%;
      width: calc(100% / 1.09091); }
    .grid__col.xs-push-11 {
      position: relative;
      left: 91.66667%; }
    .grid__col.xs-12 {
      width: 100%;
      width: calc(100% / 1); }
    .grid__col.xs-push-12 {
      position: relative;
      left: 100%; } }
  @media only screen and (min-width: 500px) {
    .grid__col.s-1 {
      width: 8.33333%;
      width: calc(100% / 12); }
    .grid__col.s-push-1 {
      position: relative;
      left: 8.33333%; }
    .grid__col.s-2 {
      width: 16.66667%;
      width: calc(100% / 6); }
    .grid__col.s-push-2 {
      position: relative;
      left: 16.66667%; }
    .grid__col.s-3 {
      width: 25%;
      width: calc(100% / 4); }
    .grid__col.s-push-3 {
      position: relative;
      left: 25%; }
    .grid__col.s-4 {
      width: 33.33333%;
      width: calc(100% / 3); }
    .grid__col.s-push-4 {
      position: relative;
      left: 33.33333%; }
    .grid__col.s-5 {
      width: 41.66667%;
      width: calc(100% / 2.4); }
    .grid__col.s-push-5 {
      position: relative;
      left: 41.66667%; }
    .grid__col.s-6 {
      width: 50%;
      width: calc(100% / 2); }
    .grid__col.s-push-6 {
      position: relative;
      left: 50%; }
    .grid__col.s-7 {
      width: 58.33333%;
      width: calc(100% / 1.71429); }
    .grid__col.s-push-7 {
      position: relative;
      left: 58.33333%; }
    .grid__col.s-8 {
      width: 66.66667%;
      width: calc(100% / 1.5); }
    .grid__col.s-push-8 {
      position: relative;
      left: 66.66667%; }
    .grid__col.s-9 {
      width: 75%;
      width: calc(100% / 1.33333); }
    .grid__col.s-push-9 {
      position: relative;
      left: 75%; }
    .grid__col.s-10 {
      width: 83.33333%;
      width: calc(100% / 1.2); }
    .grid__col.s-push-10 {
      position: relative;
      left: 83.33333%; }
    .grid__col.s-11 {
      width: 91.66667%;
      width: calc(100% / 1.09091); }
    .grid__col.s-push-11 {
      position: relative;
      left: 91.66667%; }
    .grid__col.s-12 {
      width: 100%;
      width: calc(100% / 1); }
    .grid__col.s-push-12 {
      position: relative;
      left: 100%; } }
  @media only screen and (min-width: 740px) {
    .grid__col.m-1 {
      width: 8.33333%;
      width: calc(100% / 12); }
    .grid__col.m-push-1 {
      position: relative;
      left: 8.33333%; }
    .grid__col.m-2 {
      width: 16.66667%;
      width: calc(100% / 6); }
    .grid__col.m-push-2 {
      position: relative;
      left: 16.66667%; }
    .grid__col.m-3 {
      width: 25%;
      width: calc(100% / 4); }
    .grid__col.m-push-3 {
      position: relative;
      left: 25%; }
    .grid__col.m-4 {
      width: 33.33333%;
      width: calc(100% / 3); }
    .grid__col.m-push-4 {
      position: relative;
      left: 33.33333%; }
    .grid__col.m-5 {
      width: 41.66667%;
      width: calc(100% / 2.4); }
    .grid__col.m-push-5 {
      position: relative;
      left: 41.66667%; }
    .grid__col.m-6 {
      width: 50%;
      width: calc(100% / 2); }
    .grid__col.m-push-6 {
      position: relative;
      left: 50%; }
    .grid__col.m-7 {
      width: 58.33333%;
      width: calc(100% / 1.71429); }
    .grid__col.m-push-7 {
      position: relative;
      left: 58.33333%; }
    .grid__col.m-8 {
      width: 66.66667%;
      width: calc(100% / 1.5); }
    .grid__col.m-push-8 {
      position: relative;
      left: 66.66667%; }
    .grid__col.m-9 {
      width: 75%;
      width: calc(100% / 1.33333); }
    .grid__col.m-push-9 {
      position: relative;
      left: 75%; }
    .grid__col.m-10 {
      width: 83.33333%;
      width: calc(100% / 1.2); }
    .grid__col.m-push-10 {
      position: relative;
      left: 83.33333%; }
    .grid__col.m-11 {
      width: 91.66667%;
      width: calc(100% / 1.09091); }
    .grid__col.m-push-11 {
      position: relative;
      left: 91.66667%; }
    .grid__col.m-12 {
      width: 100%;
      width: calc(100% / 1); }
    .grid__col.m-push-12 {
      position: relative;
      left: 100%; } }
  @media only screen and (min-width: 980px) {
    .grid__col.l-1 {
      width: 8.33333%;
      width: calc(100% / 12); }
    .grid__col.l-push-1 {
      position: relative;
      left: 8.33333%; }
    .grid__col.l-2 {
      width: 16.66667%;
      width: calc(100% / 6); }
    .grid__col.l-push-2 {
      position: relative;
      left: 16.66667%; }
    .grid__col.l-3 {
      width: 25%;
      width: calc(100% / 4); }
    .grid__col.l-push-3 {
      position: relative;
      left: 25%; }
    .grid__col.l-4 {
      width: 33.33333%;
      width: calc(100% / 3); }
    .grid__col.l-push-4 {
      position: relative;
      left: 33.33333%; }
    .grid__col.l-5 {
      width: 41.66667%;
      width: calc(100% / 2.4); }
    .grid__col.l-push-5 {
      position: relative;
      left: 41.66667%; }
    .grid__col.l-6 {
      width: 50%;
      width: calc(100% / 2); }
    .grid__col.l-push-6 {
      position: relative;
      left: 50%; }
    .grid__col.l-7 {
      width: 58.33333%;
      width: calc(100% / 1.71429); }
    .grid__col.l-push-7 {
      position: relative;
      left: 58.33333%; }
    .grid__col.l-8 {
      width: 66.66667%;
      width: calc(100% / 1.5); }
    .grid__col.l-push-8 {
      position: relative;
      left: 66.66667%; }
    .grid__col.l-9 {
      width: 75%;
      width: calc(100% / 1.33333); }
    .grid__col.l-push-9 {
      position: relative;
      left: 75%; }
    .grid__col.l-10 {
      width: 83.33333%;
      width: calc(100% / 1.2); }
    .grid__col.l-push-10 {
      position: relative;
      left: 83.33333%; }
    .grid__col.l-11 {
      width: 91.66667%;
      width: calc(100% / 1.09091); }
    .grid__col.l-push-11 {
      position: relative;
      left: 91.66667%; }
    .grid__col.l-12 {
      width: 100%;
      width: calc(100% / 1); }
    .grid__col.l-push-12 {
      position: relative;
      left: 100%; } }
  @media only screen and (min-width: 1300px) {
    .grid__col.xl-1 {
      width: 8.33333%;
      width: calc(100% / 12); }
    .grid__col.xl-push-1 {
      position: relative;
      left: 8.33333%; }
    .grid__col.xl-2 {
      width: 16.66667%;
      width: calc(100% / 6); }
    .grid__col.xl-push-2 {
      position: relative;
      left: 16.66667%; }
    .grid__col.xl-3 {
      width: 25%;
      width: calc(100% / 4); }
    .grid__col.xl-push-3 {
      position: relative;
      left: 25%; }
    .grid__col.xl-4 {
      width: 33.33333%;
      width: calc(100% / 3); }
    .grid__col.xl-push-4 {
      position: relative;
      left: 33.33333%; }
    .grid__col.xl-5 {
      width: 41.66667%;
      width: calc(100% / 2.4); }
    .grid__col.xl-push-5 {
      position: relative;
      left: 41.66667%; }
    .grid__col.xl-6 {
      width: 50%;
      width: calc(100% / 2); }
    .grid__col.xl-push-6 {
      position: relative;
      left: 50%; }
    .grid__col.xl-7 {
      width: 58.33333%;
      width: calc(100% / 1.71429); }
    .grid__col.xl-push-7 {
      position: relative;
      left: 58.33333%; }
    .grid__col.xl-8 {
      width: 66.66667%;
      width: calc(100% / 1.5); }
    .grid__col.xl-push-8 {
      position: relative;
      left: 66.66667%; }
    .grid__col.xl-9 {
      width: 75%;
      width: calc(100% / 1.33333); }
    .grid__col.xl-push-9 {
      position: relative;
      left: 75%; }
    .grid__col.xl-10 {
      width: 83.33333%;
      width: calc(100% / 1.2); }
    .grid__col.xl-push-10 {
      position: relative;
      left: 83.33333%; }
    .grid__col.xl-11 {
      width: 91.66667%;
      width: calc(100% / 1.09091); }
    .grid__col.xl-push-11 {
      position: relative;
      left: 91.66667%; }
    .grid__col.xl-12 {
      width: 100%;
      width: calc(100% / 1); }
    .grid__col.xl-push-12 {
      position: relative;
      left: 100%; } }
  @media only screen and (min-width: 1600px) {
    .grid__col.xxl-1 {
      width: 8.33333%;
      width: calc(100% / 12); }
    .grid__col.xxl-push-1 {
      position: relative;
      left: 8.33333%; }
    .grid__col.xxl-2 {
      width: 16.66667%;
      width: calc(100% / 6); }
    .grid__col.xxl-push-2 {
      position: relative;
      left: 16.66667%; }
    .grid__col.xxl-3 {
      width: 25%;
      width: calc(100% / 4); }
    .grid__col.xxl-push-3 {
      position: relative;
      left: 25%; }
    .grid__col.xxl-4 {
      width: 33.33333%;
      width: calc(100% / 3); }
    .grid__col.xxl-push-4 {
      position: relative;
      left: 33.33333%; }
    .grid__col.xxl-5 {
      width: 41.66667%;
      width: calc(100% / 2.4); }
    .grid__col.xxl-push-5 {
      position: relative;
      left: 41.66667%; }
    .grid__col.xxl-6 {
      width: 50%;
      width: calc(100% / 2); }
    .grid__col.xxl-push-6 {
      position: relative;
      left: 50%; }
    .grid__col.xxl-7 {
      width: 58.33333%;
      width: calc(100% / 1.71429); }
    .grid__col.xxl-push-7 {
      position: relative;
      left: 58.33333%; }
    .grid__col.xxl-8 {
      width: 66.66667%;
      width: calc(100% / 1.5); }
    .grid__col.xxl-push-8 {
      position: relative;
      left: 66.66667%; }
    .grid__col.xxl-9 {
      width: 75%;
      width: calc(100% / 1.33333); }
    .grid__col.xxl-push-9 {
      position: relative;
      left: 75%; }
    .grid__col.xxl-10 {
      width: 83.33333%;
      width: calc(100% / 1.2); }
    .grid__col.xxl-push-10 {
      position: relative;
      left: 83.33333%; }
    .grid__col.xxl-11 {
      width: 91.66667%;
      width: calc(100% / 1.09091); }
    .grid__col.xxl-push-11 {
      position: relative;
      left: 91.66667%; }
    .grid__col.xxl-12 {
      width: 100%;
      width: calc(100% / 1); }
    .grid__col.xxl-push-12 {
      position: relative;
      left: 100%; } }
  .grid--float .grid__col {
    float: left;
    display: block; }

.grid__col--flex {
  display: flex; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; }
